{% extends 'base.html' %}

{% block head %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

<!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container marketing">
  <br>
  <h1><center>Основні архетипи персонажів</center></h1>
  <hr class="featurette-divider">

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Герой</h2>
        <p class="lead">Герой завжди є основною дійовою особою. Герой переслідує якусь кінцеву мету і повинен зіткнутися і подолати перешкоди на шляху досягнення цієї мети. Він або вона зазвичай морально добрий, хоча це добро, ймовірно, буде оскаржено протягом усієї історії. Здатність героїв залишатися вірними собі, незважаючи на випробування, з якими вони повинні зіткнутися - це те, що робить їх героїчними.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img" src="static/harrypotter.jpg" alt="Harry Potter" height="400" width="400" border="5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Наставник</h2>
        <p class="lead">Наставник - поширений архетип в літературі. Наставник зазвичай старий, і ця людина часто має якісь магічні здібності або набагато більшу область знань, ніж інші. Наставники допомагають героям під час подорожей, як правило, навчаючи їх, як допомагати собі (хоча наставники іноді безпосередньо втручаються в екстремальні ситуації).</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img" src="static/gandalf.jpg" alt="Harry Potter" height="400" width="400" border="5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Простак</h2>
        <p class="lead">Архетип персонажа простака часто виступає в якості "свояка" для аудиторії. Даний архетип персонажа - це просто звичайна людина, але він чомусь повинен зіткнутися з надзвичайними обставинами. Простак може бути головним героєм або опорною фігурою. На відміну від героя, простак не відчуває морального зобов'язання перед своїм завданням; натомість ці персонажі часто опиняються посеред чогось, над чим вони майже не мають контролю. На відміну від героя, даний архетип не намагається робити грандіозних змін або працювати на загальне благо: простаки лише намагаються пройти складну ситуацію у сюжеті.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img" src="static/harrypotter.jpg" alt="Harry Potter" height="500" width="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Невинний</h2>
        <p class="lead">Персонажами, що представляють невинний архетип, часто є жінки чи діти. Персонажі даного архетипу всіляко чисті. Незважаючи на здебільшого складні обставини, невинний архетип якось не зазнав корупції та зла інших. Ці архетипи персонажів не дурні: вони просто настільки морально добрі, що злість інших людей не може їх придушити.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Злодій</h2>
        <p class="lead">Злодій хоче зупинити архетип героя від досягнення своєї мети. Лиходій здебільшого є злим, хоча завжди є причина його мотивам. Злодії часто не хочуть нічого іншого, як контролювати і мати владу над усіма і над усім навколо, можливо, тому, що більшість із них таємно сильно мотивовані страхом. Злодії часто є моральною фольгою героя: тобто їх головний порок буде паралельний головній чесноті героя.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">
  </div>


    <!-- /END THE FEATURETTES -->
{% endblock %}
