{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<main role="main" class="container">
  <div class="jumbotron text-center mb-4">
    <h1>Інформаційно-аналітична система класифікації архетипу персонажа</h1>
    <p class="lead">Система надає змогу завантажити літературний твір та вказати героя, для якого буде визначено архетип. Результати зберігаються до бази даних для збору статистики.</p>
    <p>Для початку роботи з системою перейдіть до меню тренування</p>
    <br>
    <a class="btn btn-lg btn-primary" href="/train" role="button">Почати роботу &raquo;</a>
  </div>

</main>
{% endblock %}
